.homeDiv {
    margin: auto;
    width: fit-content;
    min-width: 300px;
    font-family: cursive;
    padding: 2%;
    margin-top: 70px;
    border-radius: 1rem;
    color: white;
    opacity: 0.9;
    text-align: center;
    background-color: #2774AE;
    box-shadow: 5px 5px 8px 12px #72A0C1;
}

.homeDiv p {
    margin-top: 30px;
    font-size: 18px;
}