.container {
    margin: auto;
    width: fit-content;
    min-width: 300px;
    font-family: cursive;
    padding: 2%;
    margin-top: 70px;
    border-radius: 1rem;
    color: white;
    opacity: 0.9;
    text-align: center;
    background-color: #2774AE;
    box-shadow: 5px 5px 8px 12px #72A0C1;
}

.container p {
    margin-top: 30px;
    font-size: 18px;
}

.landing-page-buttons {
    padding: 10px;
    margin: 15px 10px 15px 10px;
    width: 15vw;
    min-width: 150px;
    border-radius: 0.5rem;
    text-align: center;
}

.landing-page-buttons:hover {
    cursor: pointer;
    transform: scale(1.05);
}