.select-friend-container-div {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 30px;
    align-items: center;
    width: fit-content;
    font-family: cursive;
    padding: 2%;
    margin-top: 70px;
    border-radius: 1rem;
    color: white;
    opacity: 0.9;
    text-align: center;
    background-color: #2774AE;
    box-shadow: 5px 5px 8px 12px #72A0C1;
}

.friendList {
    padding: 5%;
    margin-top: -10px;
}

th, tr, td {
    padding: 12px;
    font-size: large;
}

.friend-selection-checkbox {
    accent-color: #25315c;
    transform: scale(1.2);
}

.friend-selection-checkbox:hover {
    cursor: pointer;
    transform: scale(1.5);
}

.button {
    padding: 10px;
    margin: 15px 10px 15px 10px;
    width: 15vw;
    min-width: 150px;
    border-radius: 0.5rem;
    text-align: center;
}

.button:hover, .remove-button:hover {
    transform: scale(1.1);
    cursor: pointer;
}