#view-personal-expense-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#view-personal-expense-buttons button {
    width: 33%;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 0.5rem;
    font-family: cursive;
    border: none;
}

#view-personal-expense-buttons button:hover {
    transform: scale(1.01);
    cursor: pointer;
}
