.container {
    margin: auto;
    width: fit-content;
    font-family: cursive;
    padding: 2%;
    margin-top: 70px;
    border-radius: 1rem;
    color: white;
    opacity: 0.9;
    text-align: center;
    background-color: #2774AE;
    box-shadow: 5px 5px 8px 12px #72A0C1;
}

.label {
    display: inline-block;
    text-align: left;
}

.label input {
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 30vw;
    min-width: 300px;
}

.button {
    padding: 10px;
    margin: 15px 10px 15px 10px;
    width: 15vw;
    min-width: 150px;
    border-radius: 0.5rem;
    text-align: center;
}

.button:hover {
    transform: scale(1.1);
}