.navUl {
    background-color: #318CE7;
    height: 60px;
    border-radius: 1rem;
}

.navLi {
    display: inline;
    float: right;
    padding: 18px 20px 18px 0px;
    margin: 2px;
}

.navLi a {
    color: white;
    text-decoration: none;
}

.navLi p {
    padding: 18px 20px 18px 0px;
    margin: 2px;
    display: inline;
    color: white;
}

.navLi:hover {
    transform: scale(1.2);
}