.Bg {
    background-image: url("./images/background.jpg");
    height: 100vh;
    min-height: 100vh;
    width: auto;
    /* min-width: 100vw; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}